.highlighter-rouge {
  background: $background-light;
  font-family: $font-family-monospaced;
  font-size: $font-size-sm;
  line-height: 1.4em;
}

pre {
  @extend .highlighter-rouge;
  width: 100%;
  overflow-x: auto;

  code {
    padding: 15px;
    display: block;
  }
}
