body {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  color: rgba(0, 0, 0, 0.85);
}

.post-content {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
}
