$font-size-xxl: 102px;
$font-size-m: 16px;
$font-size-sm: 14px;

$font-family-default: cardo, georgia, serif;
$font-family-alternate: helvetica, arial, geneva, sans-serif;
$font-family-monospaced: Monaco, "Lucida Console", "Bitstream Vera Sans Mono", Courier, monospace;

body {
  font-family: $font-family-default;
  font-weight: 400;
  color: #303030;
  font-size: $font-size-m;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
}

p {
  margin: 20px 0;
}

.highlighter-rouge {
  background: $background-light;
  font-family: $font-family-monospaced;
  font-size: $font-size-sm;
  line-height: 1.4em;
  padding: 5px;
}

pre {
  @extend .highlighter-rouge;
  overflow: visible;
  padding: 25px;
  width: 600px;

  code {
    display: block;
    overflow-x: auto;
  }
}
