.home {
  margin: 15px;
  display: grid;
  justify-content: center;
  grid-template:
    [row1-start] "about-articles" [row1-end]
    [row2-start] "photos" [row2-end]
    / 100%;
  @media(min-width: 1850px) {
    grid-template:
      [row1-start] "about-articles _ photos" [row1-end]
      / 400px 50px 1020px;
  }

  .article-title {
    margin-bottom: 0;
    font-weight: bold;
  }

  .article-date {
    color: $text-light;
    font-size: $font-size-sm;
  }

  .about-articles {
    grid-area: about-articles;
  }

  .photos {
    grid-area: photos;
  }

  .photo-list {
    display: flex;
    flex-wrap: wrap;
    a {
      @media(min-width: 1850px) {
        margin: 5px;
        display: block;
      }
      border: 0;
    }
    img {
      width: 100%;
      @media(min-width: 1850px) {
        width: 500px;
      }
    }
  }
}
