// TODO: Make this a partial
.color-sidebar {
  background-image: linear-gradient(to bottom, $primary 0%, transparent 100%);
  overflow: hidden;
  width: 10px;
  min-width: 10px;
}

.post-container {
  display: flex;
  flex-direction: column;
  padding: 15px;

  @include tablet-up {
    padding: 0;
    flex-direction: row;
  }
}

.toc {
  font-family: $font-family-alternate;
  font-size: 0.8rem;
  line-height: 1.5em;

  @include tablet-up {
    float: right;
    width: 200px;
    margin: 0 0 0 30px;
  }

  .toc-heading {
    font-weight: bold;
    text-transform: uppercase;
  }

  ol, li {
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 16px;
    padding-left: 10px;
  }

  > ol {
    list-style-type: decimal;
    margin: 5px 0;
    padding: 0;
    ol {
      list-style-type: lower-latin;
    }
  }

}

.nav-sidebar {
  order: 4;
}

.nav-sidebar-inner {
  line-height: 1.2em;
}

@include tablet-up {
  .nav-sidebar {
    order: 0;
    width: 100px;
    min-width: 100px;
    margin: 100px 200px 0 40px;
    text-align: right;
  }

  .nav-sidebar-inner {
    top: 50px;
    position: sticky;
    width: 100px;
    padding-right: 2px;
  }
}

.post {
  @include tablet-up {
    max-width: 680px;
  }

  .title {
    font-size: $font-size-xl;
    @include tablet-up {
      font-size: $font-size-xxl;
    }
    letter-spacing: -6px;
    line-height: 1em;
    margin: 20px 0 30px 0;
  }

  .content {
    > p:first-of-type {
      &::first-letter {
        float: left;
        font-family: $font-family-alternate;
        font-size: $font-size-xxl;
        line-height: 0.7em;
        margin: 5px 10px 0 0;
      }
    }
  }
}
