figure {
  max-width: 100%;
  overflow: visible;
  margin: 40px 0;
  position: relative;

  img {
    overflow: visible;
    width: 650px;
    max-width: 100%;
  }

  > a {
    border-bottom: none;
  }
}

figcaption {
  font-size: $font-size-sm;
  font-style: italic;
  line-height: 1.5em;
  text-align: center;

  @include tablet-up {
    padding: 12px 0 0 0;
    text-align: right;
    position: absolute;
    top: 0;
    left: -120px;
    width: 100px;
  }
}
