.nav {
  font-family: $font-family-alternate;
  font-size: $font-size-sm;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;

  ul {
    margin: 0;
    line-height: 1em;
  }

  li {
    margin: 8px 0;
    &:first-child {
      margin-top: 0;
    }

    a {
      border-bottom: 0;
    }
  }
}
